<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>{{title}} | Sato News Network</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="/article.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&family=Mukta&display=swap" rel="stylesheet">

        {{#if image}}
            <style>
            .banner-image {
                background-image: url("{{image}}");
            }
            </style>
        {{/if}}
    </head>
    <body>
        <div class="menu">
            <a href="/" class="home-link">Sato News Network</a>
            <a href="/newspaper/{{paper_id}}"><img src="{{logo}}"/></a>
        </div>

        <div class="content">
            <div class="banner">
                {{#if image}}
                    <div class="banner-image"></div>
                {{/if}}
                <h1>{{title}}</h1>
                <div class="banner-info">
                    {{#if author}}
                    <p class="author-issue">By <em>{{author}}</em> • <a href="/newspaper/{{paper_id}}/{{issue}}">{{paper}} No. {{issue}}</a></p>
                    <p id="article-date" class="date">Unknown Publication Date</p>
                    {{/if}}
                </div>
            </div>
            {{#if article_json}}
            <div id="article" class="article">
                <em><p>Oh No</p></em>
                <p>Your browser probably doesn't support JavaScript (or maybe you didn't enable it?)</p>
            </div>
            {{/if}}
        </div>

        <div style="display: none" id="quill-dummy"></div>

        {{#if article_json}}
        <script>
            var articleContent = JSON.parse('{{{article_json}}}');

            document.getElementById("article-date").innerHTML = new Date({{date}} * 1000).toLocaleString("en-us", { year: "numeric", day: "numeric", hour: "numeric", minute: "numeric", month: "long"});
        </script>
        <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
        <script src="/render_article.js"></script>
        {{/if}}
    </body>
</html>
