<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>Edit Article | Sato News Network</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="/edit.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&family=Mukta&display=swap" rel="stylesheet">

        <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <h1 class="menu-title">{{#if edit}}Edit Article{{else}}Create an Article{{/if}}</h1>
            <h2>Title: <input id="article-title" type="text" value="{{title}}"></h2>
            <h2>Author: <input id="article-author" type="text" value="{{author}}"></h2>
            <h2>Newspaper: <select id="article-paper">
                {{#each available-papers}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select></h2>
            <h2>Issue #: <input id="article-issue" type="number" value="{{issue}}"></h2>
            <h2>Image (URL): <input id="article-image" type="url" value="{{image}}"></h2>
            <h2>Content:</h2>
            <div id="article-body">
                <p>Type your article here</p>
            </div>
            {{#if edit}}{{else}}
                <h3>Unique Name: <input id="article-url" type="text"></h3>
                <p>Example - for an article titled "The News", your unique name might be "the-news".<br/>If another article has this name, this article will REPLACE that one.</p>
            {{/if}}
            <h3>Code: <input id="veri-code" type="text"></h3>
            <button onclick="onSubmit()">{{#if edit}}Save and REPLACE article{{else}}Publish Article{{/if}}</button>
            <p id="pub-status"></p>
        </div>

        <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
        <script src="/edit_article.js"></script>
    </body>
</html>