<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>{{title}} | Sato News Network</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="/menu.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&family=Mukta&display=swap" rel="stylesheet">

        {{#if image}}
            <style>
            .banner-image {
                background-image: url("{{image}}");
            }
            </style>
        {{/if}}
    </head>
    <body>
        <div class="menu">
            <a href="/" class="header-like">Sato News Network</a>

            <span>Resources</span>
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/submissions">Submissions</a>
                <a href="/about">Club Info</a>
            </div>

            <span>Socials</span>
            <div class="navbar">
                <a href="https://www.instagram.com/thewyvernweeklysnn/">Instagram</a>
                <a href="https://discord.com/invite/vgEH7bC8ju">Discord</a>
            </div>
        </div>

        <div class="content">
            <div class="banner">
                <div class="banner-image"></div>
                <h1>{{title}}</h1>
            </div>
            <div class="page">
                {{#if import}}
                    <div id="in">Your browser doesn't support JavaScript (or you disabled it?)</div>
                    <script>
                    let req = new XMLHttpRequest();
                    req.open("GET", "{{import}}", true);
                    req.onreadystatechange = () => document.getElementById("in").innerHTML = req.responseText;
                    req.send();
                    </script>
                {{/if}}
                {{#each links}}
                    <a style="text-decoration: none" href="{{this.url}}"><div class="link">
                        <img class="link-image" src="{{this.image}}"/>
                        <div class="link-info">
                            <h2>{{this.name}}</h2>
                            <em><p>{{this.info}}</p></em>
                        </div>
                    </div></a>
                {{/each}}
            </div>
        </div>
    </body>
</html>